:root {
	--text-body: #b8b8b8;
	--text-muted: #555;
	--text-heading: #fff;
	--text-arg: #96a6c8;
	--text-match: #ffdd33;
	--text-number: #73c936;

	--bg-page: #181818;
	--bg-heading: #333;
	--bg-altrow: #141414;
	--bg-hover: #282828;

	--header-height: 60px;
}

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background: var(--bg-page);
	color: var(--text-body);
	font-family: monospace;
	font-size: 14px;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	margin: 0;
}

a {
	color: inherit;
}

a:hover, a:active {
	color: var(--text-heading);
}

.is-hidden {
	display: none !important;
}

.container {
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

header {
	display: flex;
	padding: 0 10px;
	gap: 20px;
	align-items: center;
	height: var(--header-height);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--bg-page);
	margin: 0 auto;
	max-width: 2000px;
	z-index: 2;
}

.title-small {
	font-size: 12px;
	color: var(--text-muted);
	margin-top: 3px;
}

.search {
	flex: 1;
	position: relative;
}

.search input {
	display: block;
	width: 100%;
	color: inherit;
	font: inherit;
	background: #080808;
	border: 1px solid var(--bg-heading);
	padding: 10px 12px;
	padding-right: 30px;
	transition: border-color 0.2s;
}

.search input:focus {
	outline: none;
	border-color: var(--text-match);
}

.clear-search {
	position: absolute;
	color: var(--text-muted);
	z-index: 1;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	font-size: 20px;
	text-decoration: none;
	padding: 0 10px;
}

.source {
	font-size: 12px;
}

table {
	width: 100%;
	border-spacing: 0;
	margin: 0 auto;
	border: 1px solid var(--bg-heading);
	border-top-width: 0;
	margin: 0 auto;
	max-width: 2000px;
}

thead {
	position: sticky;
	top: var(--header-height);
	z-index: 1;
}

th, td {
	padding: 3px 5px;
	vertical-align: top;
}

th {
	text-align: left;
	color: var(--text-heading);
	background: var(--bg-heading);
	white-space: nowrap;
}

td {
	background: var(--bg-page);
}

td:not(:last-child) {
	border-right: 1px solid var(--bg-heading);
}

th:nth-child(2), td:nth-child(2) {
	position: sticky;
	left: -1px;
	z-index: 0;
	min-width: 42px;
	max-width: 42px;
}

th:nth-child(3), td:nth-child(3) {
	position: sticky;
	left: 41px;
	z-index: 0;
}

tbody tr.is-altrow td {
	background: var(--bg-altrow);
}

tbody tr:hover td {
	background: var(--bg-hover);
}

.th-manual, .manual {
	text-align: center;
}

.manual a {
	text-decoration: none;
}

.th-number, .number {
	text-align: right;
}

.number {
	color: var(--text-number);
}

.name .match {
	color: var(--text-match);
	font-weight: bold;
}

.arg {
	color: var(--text-arg);
}

.arg-name {
	color: var(--text-body);
}

.not-implemented {
	color: var(--text-muted);
	font-style: italic;
}

.no-rows {
	padding: 20px;
	text-align: center;
	font-style: italic;
	color: var(--text-muted);
}
